/** import variables **/
@import "./variables/_color.scss";

body {
    background: #f5f2f5 !important;
    scroll-behavior: smooth !important;
}

#navbar {
    // padding: 35px 10px;
    height: 7rem;
    // margin: 1rem 1rem;
}

.grad {
    margin-top: 0 !important;
    padding-top: 0 !important;
}

.nav-item {
    padding: 0 0.7rem 0 0.7rem !important;
    font-size: medium;
    font-weight: bold;

    & :hover {
        background: $primary-y !important;
        color: white !important;
        transition: all 1s ease-in-out !important;
        border-radius: 50% !important;
    }
}

.grad::before {
    left: 41%;
    content: "";
    background: #676666;
    height: 2px;
    width: 5%;
    position: absolute;
    top: 46%;
}

.grad::after {
    content: "";
    background: #676666;
    height: 2px;
    width: 5%;
    position: absolute;
    top: 46%;
}
::before,
::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*************/
.bg-primary-y {
    background: $primary-y !important;
}

.btn-primary-y {
    background: $primary-y !important;
}

.text-primary-y {
    color: $primary-y !important;
}

.active {
    color: #052342 !important;
    font-weight: bold !important;
}

.parallax {
    /* The image used */
    background-image: linear-gradient(
            to right,
            rgb(35, 35, 36) 40%,
            rgb(20, 20, 20) 100%
        ),
        url("../images/landing/banners.jpg") !important;

    /* Full height */
    height: 100% !important;

    /* Create the parallax scrolling effect */
    background-attachment: fixed !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-blend-mode: lighten !important;
}

.parallax-x {
    /* The image used */
    background-image: linear-gradient(
            to right,
            rgb(176, 176, 177) 40%,
            rgb(139, 136, 136) 60%
        ),
        url("../assets/images/ab3.jpg") !important;

    /* Full height */
    height: 100% !important;

    /* Create the parallax scrolling effect */
    background-attachment: fixed !important;
    background-position: bottom !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-blend-mode: darken !important;
}

.parallax-abt {
    /* The image used */
    background-image: linear-gradient(
            to right,
            rgb(35, 35, 36) 40%,
            rgb(20, 20, 20) 100%
        ),
        url("../images/landing/abt_banner.jpg") !important;

    /* Full height */
    height: 100% !important;

    /* Create the parallax scrolling effect */
    background-attachment: fixed !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-blend-mode: lighten !important;
}

.parallax-serv {
    /* The image used */
    background-image: linear-gradient(
            to right,
            rgb(35, 35, 36) 40%,
            rgb(20, 20, 20) 100%
        ),
        url("../images/landing/serv_banner.jpg") !important;

    /* Full height */
    height: 100% !important;

    /* Create the parallax scrolling effect */
    background-attachment: fixed !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-blend-mode: lighten !important;
}

.parallax-contact {
    /* The image used */
    background-image: linear-gradient(
            to right,
            rgb(35, 35, 36) 40%,
            rgb(20, 20, 20) 100%
        ),
        url("../images/landing/contact-us.jpg") !important;

    /* Full height */
    height: 100% !important;

    /* Create the parallax scrolling effect */
    background-attachment: fixed !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-blend-mode: lighten !important;
}

.barr:hover {
    transition: all 9s ease-in-out !important;
    .arr {
        display: inline-block !important;
        -webkit-animation-name: arrow; /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
        animation-name: arrow;
        animation-duration: 1s;

        /* Safari 4.0 - 8.0 */
        @-webkit-keyframes arrow {
            from {
                margin-left: -20px;
                opacity: 0;
            }
            to {
                margin-left: 0px;
                opacity: 1;
            }
        }

        /* Standard syntax */
        @keyframes arrow {
            from {
                margin-left: -20px;
                opacity: 0;
            }
            to {
                margin-left: 0px;
                opacity: 1;
            }
        }
    }
}

.about-title {
    font-size: 3.5em;
    color: $primary-y;
    text-align: center;
    // letter-spacing: 1px;
    // position: relative;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}

._header p {
    font-size: 2em !important;
    color: $pink-y;
    position: relative;
    // margin: .5em 0 1em !important;
    text-align: center;
}
p {
    margin: 0;
    font-family: "Nunito", sans-serif;
    letter-spacing: 1px;
    // color: #999;
    line-height: 1.8em !important;
    font-size: 1em !important;
}

._header p:before {
    left: 41%;
}
._header p:after {
    right: 41%;
}

.wthree-services-right {
    position: absolute;
    top: 21%;
    right: 51%;
}
.wthree-services-bottom-grids {
    position: relative;
}
.wthree-services-right {
    position: absolute;
    top: 15%;
    right: 9%;
}
.intro {
    padding-top: 7em;
    & h4 {
        text-transform: uppercase;
        letter-spacing: 1px;
        color: $primary-y;
    }
}

.wthree-services-bottom-grids {
    position: relative;
}

img {
    vertical-align: middle;
}
img {
    border: 0;
}

.wthree-services-right {
    position: absolute;
    top: 15%;
    right: 9%;
}

img {
    vertical-align: middle;
}
img {
    border: 0;
}

@media screen and (max-width: 298px) {
    ._xs {
        font-size: 1.8rem !important;
    }
}

.mapouter {
    position: relative;
    text-align: right;
    height: 100%;
    width: 100%;
}
.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 100%;
    width: 100%;
}
#gmap_canvas {
    height: 100%;
    width: 100%;
}

.serv-- {
    color: $pink-y;
}

/****************************************************/
.btn-pink-y {
    background-color: $pink-y !important;
}

.bg-pink-y {
    background-color: $pink-y !important;
}
