/** import variables **/
html {
  scroll-behavior: smooth !important;
}

body {
  background: #f8f7f8 !important;
}

#navbar {
  padding: 35px 10px;
  -webkit-transition: all .7s ease;
  transition: all .7s ease;
}

.grad {
  margin-top: 0 !important;
  padding-top: 0 !important;
}

.nav-item {
  padding: 0 0.7rem 0 0.7rem !important;
  font-size: large;
  font-weight: bold;
}

.nav-item :hover {
  color: #08437e !important;
  -webkit-transition: all 0.5s ease-in-out !important;
  transition: all 0.5s ease-in-out !important;
}

.grad::before {
  left: 41%;
  content: "";
  background: #676666;
  height: 2px;
  width: 5%;
  position: absolute;
  top: 46%;
}

.grad::after {
  content: "";
  background: #676666;
  height: 2px;
  width: 5%;
  position: absolute;
  top: 46%;
}

::before,
::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*************/
.bg-primary-y {
  background: #08437e !important;
}

.btn-primary-y {
  background: #08437e !important;
}

.text-primary-y {
  color: #08437e !important;
}

.active {
  color: #052342 !important;
  font-weight: bold !important;
}

.parallax {
  /* The image used */
  background-image: -webkit-gradient(linear, left top, right top, color-stop(40%, #232324), to(#141414)), url("../images/landing/banners.jpg") !important;
  background-image: linear-gradient(to right, #232324 40%, #141414 100%), url("../images/landing/banners.jpg") !important;
  /* Full height */
  height: 100% !important;
  /* Create the parallax scrolling effect */
  background-attachment: fixed !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-blend-mode: lighten !important;
}

.parallax-x {
  /* The image used */
  background-image: -webkit-gradient(linear, left top, right top, color-stop(40%, #b0b0b1), color-stop(60%, #8b8888)), url("../assets/images/ab3.jpg") !important;
  background-image: linear-gradient(to right, #b0b0b1 40%, #8b8888 60%), url("../assets/images/ab3.jpg") !important;
  /* Full height */
  height: 100% !important;
  /* Create the parallax scrolling effect */
  background-attachment: fixed !important;
  background-position: bottom !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-blend-mode: darken !important;
}

.parallax-abt {
  /* The image used */
  background-image: -webkit-gradient(linear, left top, right top, color-stop(40%, #232324), to(#141414)), url("../images/landing/abt_banner.jpg") !important;
  background-image: linear-gradient(to right, #232324 40%, #141414 100%), url("../images/landing/abt_banner.jpg") !important;
  /* Full height */
  height: 100% !important;
  /* Create the parallax scrolling effect */
  background-attachment: fixed !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-blend-mode: lighten !important;
}

.parallax-serv {
  /* The image used */
  background-image: -webkit-gradient(linear, left top, right top, color-stop(60%, #050505), to(#050505)), url("../images/landing/serv_banner.jpg") !important;
  background-image: linear-gradient(to right, #050505 60%, #050505 100%), url("../images/landing/serv_banner.jpg") !important;
  /* Full height */
  height: 100% !important;
  /* Create the parallax scrolling effect */
  background-attachment: fixed !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-blend-mode: lighten !important;
}

.parallax-contact {
  /* The image used */
  background-image: -webkit-gradient(linear, left top, right top, color-stop(40%, #232324), to(#141414)), url("../images/landing/contact-us.jpg") !important;
  background-image: linear-gradient(to right, #232324 40%, #141414 100%), url("../images/landing/contact-us.jpg") !important;
  /* Full height */
  height: 100% !important;
  /* Create the parallax scrolling effect */
  background-attachment: fixed !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-blend-mode: lighten !important;
}

.barr:hover {
  -webkit-transition: all 9s ease-in-out !important;
  transition: all 9s ease-in-out !important;
}

.barr:hover .arr {
  display: inline-block !important;
  -webkit-animation-name: arrow;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s;
  /* Safari 4.0 - 8.0 */
  animation-name: arrow;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  /* Safari 4.0 - 8.0 */
  /* Standard syntax */
}

@-webkit-keyframes arrow {
  from {
    margin-left: -20px;
    opacity: 0;
  }
  to {
    margin-left: 0px;
    opacity: 1;
  }
}

@keyframes arrow {
  from {
    margin-left: -20px;
    opacity: 0;
  }
  to {
    margin-left: 0px;
    opacity: 1;
  }
}

.about-title {
  font-size: 3.5em;
  color: #08437e;
  text-align: center;
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}

._header p {
  font-size: 2em !important;
  color: #d464d8;
  position: relative;
  text-align: center;
}

p {
  margin: 0;
  font-family: "Nunito", sans-serif;
  letter-spacing: 1px;
  line-height: 1.8em !important;
  font-size: 1em !important;
}

._header p:before {
  left: 41%;
}

._header p:after {
  right: 41%;
}

.wthree-services-right {
  position: absolute;
  top: 21%;
  right: 51%;
}

.wthree-services-bottom-grids {
  position: relative;
}

.wthree-services-right {
  position: absolute;
  top: 15%;
  right: 9%;
}

.intro {
  padding-top: 7em;
}

.intro h4 {
  letter-spacing: 1px;
  color: #08437e;
}

.wthree-services-bottom-grids {
  position: relative;
}

img {
  vertical-align: middle;
}

img {
  border: 0;
}

.wthree-services-right {
  position: absolute;
  top: 15%;
  right: 9%;
}

img {
  vertical-align: middle;
}

img {
  border: 0;
}

@media screen and (max-width: 298px) {
  ._xs {
    font-size: 1.8rem !important;
  }
}

.mapouter {
  position: relative;
  text-align: right;
  height: 100%;
  width: 100%;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 100%;
  width: 100%;
}

#gmap_canvas {
  height: 22rem;
  width: 100%;
}

.serv-- {
  color: #08437e;
  font-size: 22px !important;
}

/****************************************************/
.btn-pink-y {
  background-color: #d464d8 !important;
}

.bg-pink-y {
  background-color: #d464d8 !important;
}

.text-primary-y {
  color: #08437e !important;
}

@media screen and (max-width: 478px) {
  .display-4 {
    font-size: 2rem !important;
  }
  .display-4x {
    font-size: 1.2rem !important;
  }
}

.card {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}
/*# sourceMappingURL=welcome-page.css.map */